@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
